body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #21222A;
  display: flex;
  justify-content: space-between;
}

.header > h4 {
  color: #DEEBF8;
  padding-right: 10px;
}

.pg-name {
  display: flex;
}

.pg-name .logo {
  width: 40px;
}
.pg-name > h3 {
  color: #61DAFB;
  font-weight: bold;
}

