body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.nav--logo_text {
  color: #61DAFB;
  font-weight: bold;
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  padding-right: 10px;
  font-weight: 600;
}

.nav--logo {
  width: 40px;
}